<div class="container" ng-app="controller" ng-controller="addProductCtrl">
    <div class="col-md-12 mb-margin-bottom-30" style="">
        <!--<div class="tag-box tag-box-v2">-->
            <!---->
        <!--</div>-->
        <div class="add_product_top">
            <div class="sorting-block">
                <!--<label style="margin-left:15px">사진</label>-->
                <br>
                <br>
                <ul class="row sorting-grid" style="margin-right:72px;">
                    <li class="col-md-3 col-sm-6 col-xs-12 mix category_1 category_3" data-cat="1" style=" display: inline-block; opacity: 1;">
                        <a href="#">
                            <input type="file" name="file" id="upFile" multiple="multiple" class="hide">
                            <img class="img-responsive" src="assets/img/main/img11.jpg" alt="add product title image" onclick="document.all.file.click();">
                        </a>
                        <br>
                    </li>
                    <li class="col-md-3 col-sm-6 col-xs-12 mix category_1 category_3" data-cat="1" style=" display: inline-block; opacity: 1;">
                        <a href="#">
                            <img class="img-responsive" src="assets/img/main/img11.jpg" alt="add product title image">
                        </a>
                        <br>
                    </li>
                    <li class="col-md-3 col-sm-6 col-xs-12 mix category_1 category_3" data-cat="1" style=" display: inline-block; opacity: 1;">
                        <a href="#">
                            <img class="img-responsive" src="assets/img/main/img11.jpg" alt="add product title image">
                        </a>
                        <br>
                    </li>
                    <li class="col-md-3 col-sm-6 col-xs-12 mix category_1 category_3" data-cat="1" style=" display: inline-block; opacity: 1;">
                        <a href="#">
                            <img class="img-responsive" src="assets/img/main/img11.jpg" alt="add product title image">
                        </a>
                        <br>
                    </li>
                    <!--<li class="col-md-3 col-sm-6 col-xs-12 mix category_1 category_3" data-cat="1" style=" display: inline-block; opacity: 1;">-->
                        <!--<a href="#">-->
                            <!--<img class="img-responsive" src="assets/img/main/img11.jpg" alt="add product title image">-->
                        <!--</a>-->
                        <!--<br>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <!--<form action="assets/php/sky-forms-pro/demo-contacts-process.php" method="post" id="sky-form3" class="sky-form contact-style">-->
        <form id="sky-form3" class="sky-form contact-style">
            <div class = "col-md-2">
                <label>제목<span class="color-red">*</span></label>
            </div>

            <div class="row sky-space-20">
                <div class="col-md-9 col-md-offset-0">
                    <div>
                        <input type="text" name="subject" id="subject" class="form-control">
                    </div>
                </div>
            </div>
            <div class = "col-md-2">
                <label>제품명<span class="color-red">*</span></label>
            </div>
            <div class="row sky-space-20">
                <div class="col-md-9 col-md-offset-0">
                    <div>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>
                </div>
            </div>

            <div class = "col-md-2">
                <label>가격<span class="color-red">*</span></label>
            </div>
            <div class="row sky-space-20">
                <div class="col-md-9 col-md-offset-0">
                    <div>
                        <input type="text" name="price" id="price" class="form-control">
                    </div>
                </div>
            </div>

            <div class = "col-md-2">
                <label>내용<span class="color-red">*</span></label>
            </div>
            <div class="row sky-space-20">
                <div class="col-md-9 col-md-offset-0">
                    <div>
                        <textarea rows="8" name="message" id="message" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <!--<p><a href="/"><button type="submit" class="btn" style="float:right; margin-right:85px;">Cancle</button></a></p>-->
            <a href="/" class="btn-u btn-u-default" style="float:right; margin-right:85px;">Cancel</a>
            <button type="submit" class="btn-u" style="float:right; margin-right:5px;">Add</button>
            <br>
            <br>
            <br>
            <div class="message">
                <i class="rounded-x fa fa-check"></i>
                <p>Your message was successfully sent!</p>
            </div>
        </form>
    </div><!--/col-md-9-->
</div>

