<!--Reg-Form -->
<div class="cube-portfolio" style="text-align:center; margin: auto;">
    <div class="row margin-bottom-30 margin-top-20">
        <div class="col-md-12 "style="padding-left: 30px;">
            <form action="#" id="sky-form4" class="sky-form" >
                <header>Your words</header>
                <fieldset>
                    <section>
                        <label class="input">
                            <!--click 시 실행되어야 할 것 추가되어야 함.-->
                            <i class="icon-append fa fa-plus" style = "
padding-left: 0px;
padding-right: 0px;
"
                               ng-click = "addWord()"
                            ></i>

                            <input type="text" name="word" placeholder="Word">
                            <!--<b class="tooltip tooltip-bottom-right">Needed to enter the website</b>-->
                        </label>
                    </section>
                </fieldset>
            </form>
        </div>

        <!--&lt;!&ndash;===App download===&ndash;&gt;-->
        <!--<div class="cbp-item etc" style = "width: 300px; height : 150px">-->
            <!--<div class="cbp-item-wrapper">-->
                <!--<div class="cbp-caption margin-bottom-20" style = "max-height : 100%; max-width : 100%">-->
                    <!--<div class="cbp-caption-defaultWrap">-->
                        <!--<img src="" alt="App download">-->
                    <!--</div>-->
                    <!--<div class="cbp-caption-activeWrap">-->
                        <!--<div class="cbp-l-caption-alignCenter">-->
                            <!--<div class="cbp-l-caption-body">-->
                                <!--<ul class="link-captions no-bottom-space">-->
                                    <!--<li><a href="/"><i class="rounded-x fa fa-link"></i></a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;===End App download&ndash;&gt;-->
    </div>
</div>
<!--End Reg-Form -->

<!--=== Cube-Portfdlio ===-->
<div class="cube-portfolio container margin-bottom-60" style="text-align:center; margin: auto;">
    <div class="content-xs">
        <div id="filters-container" class="cbp-l-filters-text content-xs">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
            <div data-filter=".book" class="cbp-filter-item"> 책 </div> |
            <div data-filter=".etc" class="cbp-filter-item"> 그 외 </div> |
        </div><!--/end Filters Container-->
    </div>
    <div class="sorting-block">
        <ul class="row sorting-grid" style="padding-left:0px">
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_1 category_3 book" data-cat="1" style=" display: inline-block; opacity: 1;">
                <a href="#">
            <li class="col-md-3 col-sm-6 col-xs-12 book" data-cat="1" style=" display: inline-block; opacity: 1;">
                <a href="#product_detail">
                    <img class="img-responsive" src="assets/img/main/img11.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_3 category_1 book" data-cat="3" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img12.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_2 category_1 etc" data-cat="2" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img13.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_3 category_4 etc" data-cat="3" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img3.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_2 category_1 category_4 etc" data-cat="2" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img2.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_4" data-cat="1" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img6.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_2 category_3  category_4" data-cat="2" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img8.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_1 category_2 category_3" data-cat="1" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img1.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_4 category_2" data-cat="1" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img11.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_3 category_2" data-cat="3" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img12.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--=== End Cube-Portfdlio ===-->

<!--=== Adding-Button ===-->
<div class="adding_button col-md-1" style="margin-top:20px;float:right;padding-right: 0px;padding-left: 65px;">
    <a href="#add_product"><i class="icon-custom icon-sm rounded-x icon-bg-u icon-line glyphicon glyphicon-plus"></i></a>
</div>
<!--=== End Adding-Button ===-->