<!--=== Profile ===-->
<div class="container content profile">

    <div class="row">
        <!--Left Sidebar-->
        <div class="col-md-3 md-margin-bottom-40">

            <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                <!--<li class="active"><a data-toggle="tab" href="/mypage"><i class="fa fa-user"></i> Profile</a></li>-->
                <!--<li><a data-toggle="tab" href="/buy_product_list"><i class="fa fa-history"></i> 구매한 물품</a></li>-->
                <!--<li><a data-toggle="tab" href="/sell_product_list"><i class="fa fa-history"></i> 판매한 물품</a></li>-->
                <!--<li><a data-toggle="tab" href="/profile_editing"><i class="fa fa-history"></i> 판매한 물품</a></li>-->

                <li class="list-group-item active">
                    <a href="#mypage"><i class="fa fa-user"></i> Profile</a>
                </li>
                <li class="list-group-item">
                    <a href="#buy_product_list"><i class="fa fa-history"></i> 구매한 물품</a>
                </li>
                <li class="list-group-item">
                    <a href="#sell_product_list"><i class="fa fa-history"></i> 판매한 물품</a>
                </li>
                <li class="list-group-item">
                    <a href="#edit_profile"><i class="fa fa-cog"></i>프로필 변경</a>
                </li>


                <!--<li class="list-group-item active">-->
                <!--<a href="/mypage"><i class="fa fa-user"></i> Profile</a>-->
                <!--</li>-->
                <!--<li class="list-group-item">-->
                <!--<a href="#buy_product_list"><i class="fa fa-history"></i> 구매한 물품</a>-->
                <!--</li>-->
                <!--<li class="list-group-item">-->
                <!--<a href="#sell_product_list"><i class="fa fa-history"></i> 판매한 물품</a>-->
                <!--</li>-->
                <!--<li class="list-group-item">-->
                <!--<a href="#profile_setting"><i class="fa fa-cog"></i>프로필 변경</a>-->
                <!--</li>-->
            </ul>

            <img class="img-responsive profile-img margin-bottom-20" src="assets/img/team/img32-md.jpg" alt="">

            <!--Datepicker-->
            <!--<form action="#" id="sky-form2" class="sky-form">-->
            <!--<div id="inline-start"></div>-->
            <!--</form>-->
            <!--End Datepicker-->
        </div>
        <!--End Left Sidebar-->

        <!-- Profile Content -->
        <div class="col-md-9">
            <div class="profile-body">
                <!--<ng-view></ng-view>-->
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="img-responsive md-margin-bottom-10" src="assets/img/team/img32-md.jpg" alt="Profile image">
                        </div>
                        <div class="col-md-7">
                            <h2><%= user.name.username%></h2>
                            <span><strong>Positive:</strong> </span>
                            <br>
                            <span><strong>Soso:</strong> </span>
                            <br>
                            <span><strong>Negative:</strong> </span>
                            <br>
                            <br>
                            <span><strong>Job:</strong> Web Developer</span>
                            <span><strong>Position:</strong> Web Designer</span>
                            <br>
                            <br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget massa nec turpis congue bibendum. Integer nulla felis, porta suscipit nulla et, dignissim commodo nunc. Morbi a semper nulla.</p>
                        </div>
                    </div><!--/end row-->
                </div>
                <div class="social-contacts">
                    <!--Social Contacts v2-->
                    <div class="panel panel-profile">
                        <div class="panel-body" style="
                                    padding-top: 0px;
                                    ">
                            <div class="row">
                                <div class="p-chart col-md-4 col-sm-6 col-xs-6 sm-margin-bottom-10">
                                    <div class="circle margin-bottom-20" id="circle-4"></div>
                                    <i class="rounded-x gm icon-envelope"></i> <a href="#"><%= user.name%></a>
                                </div>

                                <div class="p-chart col-md-4 col-sm-6 col-xs-6 sm-margin-bottom-10">
                                    <div class="circle margin-bottom-20" id="circle-3"></div>
                                    <h3 class="heading-xs">Engagement Score</h3>
                                    <p>Celery coriander bitterleaf epazote radicchio shallot.</p>
                                </div>

                                <div class="p-chart col-md-4 col-sm-6 col-xs-6">
                                    <div class="circle margin-bottom-20" id="circle-5"></div>
                                    <h3 class="heading-xs">Progfile Completness</h3>
                                    <p>Celery coriander bitterleaf epazote radicchio shallot.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Social Contacts v2-->
                </div>
            </div>
        <!-- End Profile Content -->
        </div>
    </div>
</div>
<!--=== End Profile ===-->