<!--<head>-->
    <!--&lt;!&ndash; CSS Global Compulsory &ndash;&gt;-->
    <!--<link rel="stylesheet" href="assets/css/shop.style.css">-->
<!--</head>-->

<body class="header-fixed">

<div class="wrapper">
    <!--=== Shop Product ===-->
    <div class="shop-product">
        <!-- Breadcrumbs v5 -->
        <div class="container">
            <!--<ul class="breadcrumb-v5">-->
                <!--<li><a href="index.html"><i class="fa fa-home"></i></a></li>-->
                <!--<li><a href="#">(돋보기아이콘)검색한 검색어</a></li>-->
                <!--<li class="active">product</li>-->
            <!--</ul>-->
        </div>
        <!-- End Breadcrumbs v5 -->

        <div class="container">
            <div class="row">
                <div class="col-md-6 md-margin-bottom-50">
                    <div class="ms-showcase2-template">
                        <!-- Master Slider -->
                        <div class="master-slider ms-skin-default" id="masterslider">
                            <div class="ms-slide">
                                <img class="ms-brd" src="assets/img/blank.gif" data-src="assets/img/blog/28.jpg" alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" src="assets/img/blog/28-thumb.jpg" alt="thumb">
                            </div>
                            <div class="ms-slide">
                                <img src="assets/img/blank.gif" data-src="assets/img/blog/29.jpg" alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" src="assets/img/blog/29-thumb.jpg" alt="thumb">
                            </div>
                            <div class="ms-slide">
                                <img src="assets/img/blank.gif" data-src="assets/img/blog/30.jpg" alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" src="assets/img/blog/30-thumb.jpg" alt="thumb">
                            </div>
                        </div>
                        <!-- End Master Slider -->
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="shop-product-heading">
                        <h2>Product Name</h2>

                    </div><!--/end shop product social-->

                    <p>Context contextcontextcontextcontextcontextcontextcontextcontextcontextcontext</p><br>

                    <ul class="list-inline shop-product-prices margin-bottom-30">
                        <li class="shop-red">30000원</li>
                        <li><small class="shop-bg-red time-day-left">16 hours ago</small></li>
                    </ul><!--/end shop product prices-->

                    <h3 class="shop-product-title">State</h3>
                    <ul class="list-inline product-size margin-bottom-30">
                        <li>
                            <input type="radio" id="size-1" name="size">
                            <label for="size-1">No Open</label>
                        </li>
                        <li>
                            <input type="radio" id="size-2" name="size">
                            <label for="size-2">Almost New</label>
                        </li>
                        <li>
                            <input type="radio" id="size-3" name="size" checked>
                            <label for="size-3">Used</label>
                        </li>
                        <li>
                            <input type="radio" id="size-4" name="size">
                            <label for="size-4">have problem</label>
                        </li>
                    </ul><!--/end product size-->

                    <h3 class="shop-product-title">판매유형</h3>
                    <ul class="list-inline product-color margin-bottom-30">
                        <li>
                            <input type="radio" id="size-4" name="size">
                            <label for="color-1">free share</label>
                        </li><li>
                            <input type="radio" id="size-4" name="size">
                            <label for="color-2">sell</label>
                        </li><li>
                            <input type="radio" id="size-4" name="size">
                            <label for="color-3">rent</label>
                        </li>
                    </ul><!--/end product color-->

                    <div class="margin-bottom-40">

                        <button type="button" class="btn-u btn-u-sea-shop btn-u-lg">Buy now</button>
                    </div><!--/end product quantity-->


                    <!-- seller information -->

                    <div class="shop-product-heading">
                        <h2>seller</h2>
                    </div>
                    <p>(프로필 사진), 닉네임, 한동대학생 인증 여부</p><br>
                    <p>(별 아이콘)positive 95.6%</p><br>

                    <!-- /end seller information -->


                </div>
            </div><!--/end row-->
        </div>
    </div>
    <!--=== End Shop Product ===-->

    <!--=== Content Medium ===-->
    <div class="content-md container">
        <div class="tab-v5">
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="#reviews" role="tab" data-toggle="tab">댓글(안눌러도 뜨게)</a></li>
            </ul>

            <div class="tab-content">

                <!-- Reviews -->
                <div class="tab-pane fade" id="reviews">
                    <div class="product-comment margin-bottom-40">
                        <div class="product-comment-in">
                            <img class="product-comment-img rounded-x" src="assets/img/team/01.jpg" alt="">
                            <div class="product-comment-dtl">
                                <h4>Mickel <small>22 days ago</small></h4>
                                <p>I like the green colour, it's very likeable and reminds me of Hollister. A little loose though but I am very skinny</p>
                                <ul class="list-inline product-ratings">
                                    <li class="reply"><a href="#">Reply</a></li>
                                    <li class="pull-right">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h3 class="heading-md margin-bottom-30">Add a 댓글</h3>
                    <form action="assets/php/demo-contacts-process.php" method="post" id="sky-form3" class="sky-form sky-changes-4">
                        <fieldset>
                            <div class="margin-bottom-30">
                                <label class="label-v2">댓글</label>
                                <label class="textarea">
                                    <textarea rows="7" name="message" id="message"></textarea>
                                </label>
                            </div>
                        </fieldset>

                    </form>
                </div>
                <!-- End Reviews -->
            </div>
        </div>
    </div><!--/end container-->
</div><!--=== End Content Medium ===-->


    <!-- Wait Block -->
    <div class="g-popup-wrapper">
        <div class="g-popup g-popup--discount">
            <p class="margin-bottom-5">Enter your email and get</p>
            <h3>20% off </h3>
            <p class="margin-bottom-40">your first purchase</p>
            <form action="#" class="sky-form">
                <label class="input margin-bottom-20">
                    <input type="email" placeholder="Your email address" class="form-control">
                </label>
                <label class="input">
                    <button class="btn btn-default" type="button">Subscribe</button>
                </label>
            </form>

            <a href="javascript:void(0);" class="g-popup__close g-popup--discount__close"><span class="icon-close" aria-hidden="true"></span></a>
        </div>
    </div>
    <!-- End Wait Block -->

    <!-- JS Global Compulsory -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="assets/plugins/back-to-top.js"></script>
    <script src="assets/plugins/smoothScroll.js"></script>
    <script src="assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
    <script src="assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Master Slider -->
    <script src="assets/plugins/master-slider/quick-start/masterslider/masterslider.min.js"></script>
    <script src="assets/plugins/master-slider/quick-start/masterslider/jquery.easing.min.js"></script>
    <!-- JS Customization -->
    <script src="assets/js/custom.js"></script>
    <!-- JS Page Level -->
    <script src="assets/js/shop.app.js"></script>
    <script src="assets/js/plugins/owl-carousel.js"></script>
    <script src="assets/js/plugins/master-slider.js"></script>
    <script src="assets/js/forms/product-quantity.js"></script>
    <script src="assets/js/plugins/style-switcher.js"></script>
    <script>
        jQuery(document).ready(function() {
            App.init();
            App.initScrollBar();
            OwlCarousel.initOwlCarousel();
            StyleSwitcher.initStyleSwitcher();
            MasterSliderShowcase2.initMasterSliderShowcase2();
        });
    </script>

    <!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->

</body>