
<!-- Profile Content -->
<div class="col-md-9">

    <!--Timeline-->
    <div class="panel panel-profile">
        <div class="panel-heading overflow-h">
            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Experience</h2>
            <!--<a href="#"><i class="fa fa-cog pull-right"></i></a>-->
        </div>
        <div class="panel-body margin-bottom-40">
            <ul class="timeline-v2 timeline-me">
                <li>
                    <time datetime="" class="cbp_tmtime"> <span>2016 - 7 - 14</span></time>
                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                    <div class="cbp_tmlabel">
                        <a href="http://localhost:3000/#/product_detail"> <h2>물건 제목</h2></a>
                        <!--<p>제품명 가격 내용 등등 </p>-->
                    </div>
                </li>
                <li>
                    <time datetime="" class="cbp_tmtime"><span>Web Designer</span> <span>2007 - 2012</span></time>
                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                    <div class="cbp_tmlabel">
                        <h2>Freelance</h2>
                        <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce.</p>
                    </div>
                </li>
                <li>
                    <time datetime="" class="cbp_tmtime"><span>Photodesigner</span> <span>2003 - 2007</span></time>
                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                    <div class="cbp_tmlabel">
                        <h2>Toren Condo</h2>
                        <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--End Timeline-->
</div>
<!-- End Profile Content -->