
<!-- Profile setting -->
<div class="col-md-9">
    <div class="profile-body margin-bottom-20">
        <div class="tab-v1">
            <ul class="nav nav-justified nav-tabs">
                <li class="active"><a data-toggle="tab" href="#edit_profile"> Profile</a></li>
            </ul>
            <div class="tab-content">
                <div id="edit_profile" class="profile-edit tab-pane fade in active">
                    <br>
                    <dl class="dl-horizontal">
                        <dt><strong>이름</strong></dt>
                        <dd>
                            <%= user.name.username%>
                            <%=  %>
                            {{doc.name}}
                        </dd>
                        <hr>
                        <dt><strong>이메일</strong></dt>
                        <dd>{{currentPerson.email}}
                            <input ng-model="person.mail" type = "text" placeholder="{{splitEmail[0]}}">@ <input ng-model="person.domain" type = "text" placeholder="{{splitEmail[1]}}">
                        </dd>
                        <hr>
                        <dt><strong>연락처</strong></dt>
                        <dd>
                            <input ng-model="person.front" type = "text" placeholder="{{front}}"> - <input ng-model="person.middle" type = "text" placeholder="{{middle}}"> - <input ng-model="person.rear" type = "text" placeholder="{{rear}}">
                        </dd>
                        <hr>
                        <dt><strong>은행</strong></dt>
                        <dd>
                            <input ng-model="person" type = "text" placeholder="{{}}">
                        </dd>
                        <br>
                        <dt><strong>계좌번호</strong></dt>
                        <dd>
                            <input ng-model="person" type = "text" placeholder="{{}}">
                        </dd>
                        <hr>
                        <dt><strong>전공</strong></dt>
                        <dd>
                            <input ng-model="person" type = "text" placeholder="{{}}">
                        </dd>
                    </dl>
                    <a href="/"><button type="button" class="btn-u btn-u-default" style="float: right;" ><a href="/"><h style="color:white">취소</h></a></button></a>
                    <a href="/mypage"><button type="button" class="btn-u" style="float: right; margin-right : 5px;" ng-click = "modifyUserData()">저장</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Profile Content -->