
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="daeho">

    <title>Panda Store</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="assets/css/headers/header-default.css">
    <link rel="stylesheet" href="assets/css/footers/footer-v6.css">


    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
    <link rel="stylesheet" href="assets/plugins/ladda-buttons/css/custom-lada-btn.css">
    <link rel="stylesheet" href="assets/plugins/hover-effects/css/custom-hover-effects.css">

    <link rel="stylesheet" href="assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings.css" type="text/css" media="screen">
    <!--[if lt IE 9]><link rel="stylesheet" href="assets/plugins/revolution-slider/rs-plugin/css/settings-ie8.css" type="text/css" media="screen"><![endif]-->

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="assets/css/pages/page_log_reg_v1.css">
    <link rel="stylesheet" href="assets/css/pages/page_search.css">
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/pages/page_search_inner_tables.css">



    <link rel="stylesheet" href="assets/plugins/ladda-buttons/css/custom-lada-btn.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->

    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/purple.css" id="style_color">
    <link rel="stylesheet" href="assets/css/theme-skins/dark.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">

</head>

<body>

    <div class="wrapper" ng-app="home" ng-controller="main">
        <i class="style-switcher-btn icon-bell"></i>
        <div class="style-switcher animated fadeInRight">
            <div class="style-swticher-header">
                <div class="style-switcher-heading">Key Word <br>Alarm System</div>
                <div class="theme-close"><i class="icon-close"></i></div>
            </div>
            <div>설명</div>

            <form action="#" id="sky-form4" class="sky-form" >
                <fieldset>
                    <section>
                        <label class="input">
                            <!--click 시 실행되어야 할 것 추가되어야 함.-->
                            <i class="icon-append fa fa-plus" style = "padding-left: 0px;padding-right: 0px;" ng-click = "addWord()"></i>
                            <input type="text" name="word" placeholder="Word">
                            <!--<b class="tooltip tooltip-bottom-right">Needed to enter the website</b>-->
                        </label>
                    </section>
                    <labe>추가된 단어 1 <button>삭제</button></labe><br>
                    <labe>추가된 단어 2</labe>
                </fieldset>
            </form>
        </div><!--/style-switcher-->
        <!--=== End Style Switcher ===-->
<div ng-include="'nav'"></div>


        <!--=== Slider ===-->
        <div class="tp-banner-container" ng-show="view" >
            <div class="tp-banner">
                <ul>
                    <!--<a href="/help#/app">-->
                    <!-- SLIDE -->
                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                        <!-- MAIN IMAGE -->
                        <img src="assets/static_img/slider2.png"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">


                    <!-- SLIDE -->
                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 3">
                        <!-- MAIN IMAGE -->
                        <img src="assets/img/sliders/3.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <div class="tp-caption revolution-ch1 sft start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="100"
                             data-speed="1500"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endeasing="Power1.easeIn"
                             data-endspeed="300">
                            Over 12000+ Satisfied Users
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption revolution-ch2 sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="190"
                             data-speed="1400"
                             data-start="2000"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            We are creative technology company providing <br/>
                            key digital services on web and mobile.
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption sft"
                             data-x="center"
                             data-hoffset="0"
                             data-y="310"
                             data-speed="1600"
                             data-start="2800"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a>
                            <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a>
                        </div>
                    </li>
                    <!-- END SLIDE -->
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
        <!--=== End Slider ===-->

        <!--=== Cube-Portfdlio ===-->
        <div class="cube-portfolio container margin-bottom-60">

            <div class="content-xs">
                <div class="col-md-8">
                <div id="filters-container" class="cbp-l-filters-text content-xs pull-left">
                    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
                    <div data-filter=".identity" class="cbp-filter-item"> 구매 </div> |
                    <div data-filter=".web-design" class="cbp-filter-item"> 대여 </div>
                </div><!--/end Filters Container-->
            </div>

            </div>
            <br><br>
            <div id="grid-container" class="cbp-l-grid-agency">
                <div class="cbp-item graphic">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/blog/28-thumb.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="/product_item" ><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">상품명</div>
                        <div class="cbp-l-grid-agency-desc">Web Design</div>
                    </div>
                </div>

                <div class="cbp-item web-design logos">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/main/img2.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="/product_item"><i class="rounded-x fa fa-link"></i></a></li>
                                        <li><a href="assets/img/main/img2.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">Design Object 02</div>
                        <div class="cbp-l-grid-agency-desc">Web Design</div>
                    </div>
                </div>
                <div class="cbp-item graphic logos">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/main/img9.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                        <li><a href="assets/img/main/img9.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">Design Object 03</div>
                        <div class="cbp-l-grid-agency-desc">Web Design</div>
                    </div>
                </div>
                <div class="cbp-item web-design graphic">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/main/img10.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                        <li><a href="assets/img/main/img10.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">Design Object 04</div>
                        <div class="cbp-l-grid-agency-desc">Web Design</div>
                    </div>
                </div>
                <div class="cbp-item identity web-design">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/main/img11.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                        <li><a href="assets/img/main/img11.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">Design Object 05</div>
                        <div class="cbp-l-grid-agency-desc">Web Design</div>
                    </div>
                </div>
                <div class="cbp-item identity web-design">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/main/img12.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                        <li><a href="assets/img/main/img12.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">Design Object 06</div>
                        <div class="cbp-l-grid-agency-desc">Web Design</div>
                    </div>
                </div>
                <div class="cbp-item web-design identity">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/main/img19.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                        <li><a href="assets/img/main/img19.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">Design Object 07</div>
                        <div class="cbp-l-grid-agency-desc">Web Design</div>
                    </div>
                </div>
                <div class="cbp-item identity logo">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/main/img7.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                        <li><a href="assets/img/main/img7.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">Design Object 08</div>
                        <div class="cbp-l-grid-agency-desc">Web Design</div>
                    </div>
                </div>
                <div class="cbp-item graphic">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/main/img20.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                        <li><a href="assets/img/main/img20.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">Design Object 09</div>
                        <div class="cbp-l-grid-agency-desc">Web Design</div>
                    </div>
                </div>
                <div class="cbp-item web-design logos">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/main/img3.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                        <li><a href="assets/img/main/img3.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">Design Object 10</div>
                        <div class="cbp-l-grid-agency-desc">Web Design</div>
                    </div>
                </div>
                <div class="cbp-item graphic logos">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/main/img6.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                        <li><a href="assets/img/main/img6.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">Design Object 11</div>
                        <div class="cbp-l-grid-agency-desc">Web Design</div>
                    </div>
                </div>
                <div class="cbp-item web-design graphic">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="assets/img/blog/28-thumb.jpg" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                        <li><a href="assets/img/blog/28-thumb.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">Design Object 12</div>
                        <div class="cbp-l-grid-agency-desc">Web Design</div>
                    </div>
                </div>
            </div>
        </div>
        <!--=== End Cube-Portfdlio ===-->

<div ng-include="'footer'"></div>

    </div>
</div>


</body>

<!-- JS Global Compulsory -->
<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

<!-- JS Customization -->
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/plugins/style-switcher.js"></script>
<script type="text/javascript" src="assets/js/plugins/ladda-buttons.js"></script>
<script src="assets/plugins/ladda-buttons/js/spin.min.js"></script>
<script src="assets/plugins/ladda-buttons/js/ladda.min.js"></script>
<script type="text/javascript" src="assets/js/plugins/cube-portfolio/cube-portfolio-4.js"></script>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>

<script type="text/javascript" src="assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/plugins/fancy-box.js"></script>
<script type="text/javascript" src="assets/js/plugins/owl-carousel.js"></script>
<script type="text/javascript" src="assets/js/plugins/revolution-slider.js"></script>
<script type="text/javascript" src="assets/js/plugins/style-switcher.js"></script>


<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        StyleSwitcher.initStyleSwitcher();
        OwlCarousel.initOwlCarousel();
        RevolutionSlider.initRSfullWidth();
    });
</script>
<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/plugins/placeholder-IE-fixes.js"></script>
<script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->
<!--<script>-->
    <!--$('#myAffix').affix({-->
        <!--offset: {-->
            <!--top: 100,-->
            <!--bottom: function () {-->
                <!--return (this.bottom = $('.footer').outerHeight(true))-->
            <!--}-->
        <!--}-->
    <!--})-->

<!--</script>-->

<script src="controller/home_controller.js"></script>

</html>
