

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Product Details | Unify - Responsive Website Template</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/shop.style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="assets/css/headers/header-default.css">
    <link rel="stylesheet" href="assets/css/footers/footer-v4.css">
    <link rel="stylesheet" href="assets/css/footers/footer-v6.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <link rel="stylesheet" href="assets/plugins/master-slider/quick-start/masterslider/style/masterslider.css">
    <link rel='stylesheet' href="assets/plugins/master-slider/quick-start/masterslider/skins/default/style.css">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="assets/css/pages/profile.css">
    <link rel="stylesheet" href="assets/plugins/jquery-steps/css/custom-jquery.steps.css">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/teal.css" id="style_color">

    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
    <link rel="stylesheet" href="assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!-- Style Switcher -->
    <link rel="stylesheet" href="assets/css/plugins/style-switcher.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/purple.css" id="style_color">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">


</head>

<body ng-app><div class="wrapper">
    <i class="style-switcher-btn icon-bell"></i>
    <div class="style-switcher animated fadeInRight">
        <div class="style-swticher-header">
            <div class="style-switcher-heading">Key Word <br>Alarm System</div>
            <div class="theme-close"><i class="icon-close"></i></div>
        </div>
        <div>설명</div>

        <form action="#" id="sky-form4" class="sky-form" >
            <fieldset>
                <section>
                    <label class="input">
                        <!--click 시 실행되어야 할 것 추가되어야 함.-->
                        <i class="icon-append fa fa-plus" style = "padding-left: 0px;padding-right: 0px;" ng-click = "addWord()"></i>
                        <input type="text" name="word" placeholder="Word">
                        <!--<b class="tooltip tooltip-bottom-right">Needed to enter the website</b>-->
                    </label>
                </section>
                <labe>추가된 단어 1 <button>삭제</button></labe><br>
                <labe>추가된 단어 2</labe>
            </fieldset>
        </form>
    </div><!--/style-switcher-->
    <!--=== End Style Switcher ===-->

    <div ng-include="'nav'"></div>

        <!--=== Content Medium Part ===-->
        <div class="content-md">
            <div class="container">
                <form class="shopping-cart" action="#">
                    <div>
                        <div class="header-tags">
                            <div class="overflow-h">
                                <h2>장바구니</h2>
                                <p>Review &amp; edit your product</p>
                                <i class="rounded-x fa fa-check"></i>
                            </div>
                        </div>
                        <section>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>상품이름</th>
                                        <th>거래유형</th>
                                        <th>수량</th>
                                        <th>가격</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="product-in-table">
                                            <img class="img-responsive" src="assets/img/thumb/08.jpg" alt="">
                                            <div class="product-it-in">
                                                <h3>Double-Breasted</h3>
                                                <span>Sed aliquam tincidunt tempus</span>
                                            </div>
                                        </td>
                                        <td>대여</td>
                                        <td>
                                            1
                                        </td>
                                        <td class="shop-red">$ 320.00</td>
                                        <td>
                                            <button type="button" class="close"><span>&times;</span><span class="sr-only">Close</span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="product-in-table">
                                            <img class="img-responsive" src="assets/img/thumb/07.jpg" alt="">
                                            <div class="product-it-in">
                                                <h3>Vivamus ligula</h3>
                                                <span>Sed aliquam tincidunt tempus</span>
                                            </div>
                                        </td>
                                        <td>구매</td>
                                        <td>
                                            <button type='button' class="quantity-button" name='subtract' onclick='javascript: subtractQty2();' value='-'>-</button>
                                            <input type='text' class="quantity-field" name='qty2' value="3" id='qty2'/>
                                            <button type='button' class="quantity-button" name='add' onclick='javascript: document.getElementById("qty2").value++;' value='+'>+</button>
                                        </td>
                                        <td class="shop-red">$ 320.00</td>
                                        <td>
                                            <button type="button" class="close"><span>&times;</span><span class="sr-only">Close</span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="product-in-table">
                                            <img class="img-responsive" src="assets/img/thumb/06.jpg" alt="">
                                            <div class="product-it-in">
                                                <h3>Vivamus ligula</h3>
                                                <span>Sed aliquam tincidunt tempus</span>
                                            </div>
                                        </td>
                                        <td>대여</td>
                                        <td>
                                            <button type='button' class="quantity-button" name='subtract' onclick='javascript: subtractQty3();' value='-'>-</button>
                                            <input type='text' class="quantity-field" name='qty3' value="1" id='qty3'/>
                                            <button type='button' class="quantity-button" name='add' onclick='javascript: document.getElementById("qty3").value++;' value='+'>+</button>
                                        </td>
                                        <td class="shop-red">$ 320.00</td>
                                        <td>
                                            <button type="button" class="close"><span>&times;</span><span class="sr-only">Close</span></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="product-in-table">
                                            <img class="img-responsive" src="assets/img/thumb/09.jpg" alt="">
                                            <div class="product-it-in">
                                                <h3>Vivamus ligula</h3>
                                                <span>Sed aliquam tincidunt tempus</span>
                                            </div>
                                        </td>
                                        <td>$ 160.00</td>
                                        <td>
                                            <button type='button' class="quantity-button" name='subtract' onclick='javascript: subtractQty4();' value='-'>-</button>
                                            <input type='text' class="quantity-field" name='qty4' value="7" id='qty4'/>
                                            <button type='button' class="quantity-button" name='add' onclick='javascript: document.getElementById("qty4").value++;' value='+'>+</button>
                                        </td>
                                        <td class="shop-red">$ 320.00</td>
                                        <td>
                                            <button type="button" class="close"><span>&times;</span><span class="sr-only">Close</span></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>


                        <div class="header-tags">
                            <!--<div class="overflow-h">-->
                                <h2>결제방법</h2>
                                <p>Select Payment method</p>
                                <i class="rounded-x fa fa-credit-card"></i>
                            <!--</div>-->
                        </div>
                        <section>
                            <div class="row">
                                <div class="content-md md-margin-bottom-5">
                                    <h2 class="title-type">Choose a payment method</h2>
                                    <!-- Accordion -->
                                    <!--<div class="accordion-v2">-->
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                            <i class="fa fa-credit-card"></i>
                                                            무통장 입금
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in">
                                                    <div class="panel-body cus-form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 no-col-space control-label">입금자명</label>
                                                            <div class="col-sm-8">
                                                                <input type="text" class="form-control required" name="cardholder" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-4 no-col-space control-label">입금 계좌번호</label>
                                                            <div class="col-sm-8">
                                                                <select class="form-control">
                                                                    <option>기업 신대호 1234567</option>
                                                                    <option>신한 신대호 1234567</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-4 no-col-space control-label">입금기한</label>
                                                            <div class="col-sm-8">
                                                                현 시각 + 12시간 후
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="form-group">
                                                            <label class="col-sm-4">현금영수증</label>
                                                            <div class="col-sm-8 input-small-field">
                                                                <section>
                                                                    <div class="some-class">
                                                                        <div class="col-md-2"> <label class="radio"><input type="radio" name="radio-inline" checked>미발행</label></div>
                                                                        <div class="col-md-2"><label class="radio"><input type="radio" name="radio-inline">소득공제용</label></div>
                                                                        <div class="col-md-2"><label class="radio"><input type="radio" name="radio-inline">지출증빙용</label></div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-4 no-col-space control-label">발급번호</label>
                                                            <div class="col-sm-4 input-small-field">
                                                                <select class="form-control">
                                                                    <option>주민(사업자)번호</option>
                                                                    <option>휴대폰 번호</option>
                                                                    <option>현금영수증 카드</option>
                                                                    <option>기타카드</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <input type="text" class="form-control required" name="cardholder" placeholder="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!--</div>-->
                                    <!-- End Accordion -->
                                    <div class="coupon-code">
                                        <div class="row">
                                            <div class="col-sm-3 col-sm-offset-5">
                                                <ul class="list-inline total-result">
                                                    <li class="total-price">
                                                        <h4>Total:</h4>
                                                        <div class="total-result-in">
                                                            <span>$ 1280.00</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </form>
            </div><!--/end container-->
        </div>
        <!--=== End Content Medium Part ===-->


    <div ng-include="'footer'"></div>
</div><!--/wrapper-->
<!-- JS Global Compulsory -->
<script src="assets/plugins/jquery/jquery.min.js"></script>
<script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="assets/plugins/back-to-top.js"></script>
<script src="assets/plugins/smoothScroll.js"></script>
<script src="assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script src="assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Master Slider -->
<script src="assets/plugins/master-slider/quick-start/masterslider/masterslider.min.js"></script>
<script src="assets/plugins/master-slider/quick-start/masterslider/jquery.easing.min.js"></script>
<!-- JS Customization -->
<script src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script src="assets/js/shop.app.js"></script>
<script src="assets/js/plugins/owl-carousel.js"></script>
<script src="assets/js/plugins/master-slider.js"></script>
<script src="assets/js/forms/product-quantity.js"></script>
<script src="assets/js/plugins/style-switcher.js"></script>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="assets/plugins/jquery-steps/build/jquery.steps.js"></script>

<script src="assets/js/plugins/stepWizard.js"></script>
<script src="assets/js/forms/product-quantity.js"></script>


<script type="text/javascript" src="assets/plugins/circles-master/circles.js"></script>
<script type="text/javascript" src="assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script>
    jQuery(document).ready(function() {
        App.init();
        App.initScrollBar();
        OwlCarousel.initOwlCarousel();
        StyleSwitcher.initStyleSwitcher();
        MasterSliderShowcase2.initMasterSliderShowcase2();
        StepWizard.initStepWizard();
    });
</script>

<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
<!--[if lt IE 10]>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

</body>
</html>
