

<!--=== Cube-Portfdlio ===-->
<div class="cube-portfolio container margin-bottom-60" style="text-align:center; margin: auto;">
    <div class="content-xs">
    <div class="input-group">
        <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search words with regular expressions ...">
            <span class="input-group-btn">
                        <button class="btn-u" type="button"><i class="fa fa-search"></i></button>
                    </span>
        </div>
            </div>
        <div class="col-md-4">
            <div id="filters-container" class="cbp-l-filters-text content-xs">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
                <div data-filter=".book" class="cbp-filter-item"> 책 </div> |
                <div data-filter=".etc" class="cbp-filter-item"> 그 외 </div> |
            </div><!--/end Filters Container-->
        </div>
        <div class="col-md-4">
            <a href="#add_product"><button class="btn-u btn-u btn-u-purple btn-block" type="button">상품 등록</button></a>
        </div>
    </div>
    </div>
    <br>
    <div class="sorting-block">
        <ul class="row sorting-grid" style="padding-left:0px">
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_1 category_3 book" data-cat="1" style=" display: inline-block; opacity: 1;">
                <a href="#">
            <li class="col-md-3 col-sm-6 col-xs-12 book" data-cat="1" style=" display: inline-block; opacity: 1;">
                <a href="#product_detail">
                    <img class="img-responsive" src="assets/img/main/img11.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_3 category_1 book" data-cat="3" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img12.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_2 category_1 etc" data-cat="2" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img13.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_3 category_4 etc" data-cat="3" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img3.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_2 category_1 category_4 etc" data-cat="2" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img2.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_4" data-cat="1" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img6.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_2 category_3  category_4" data-cat="2" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img8.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_1 category_2 category_3" data-cat="1" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img1.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_4 category_2" data-cat="1" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img11.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
            <li class="col-md-3 col-sm-6 col-xs-12 mix category_3 category_2" data-cat="3" style=" display: inline-block; opacity: 1;">
                <a href="#">
                    <img class="img-responsive" src="assets/img/main/img12.jpg" alt="">
                        <span class="sorting-cover">
                            <span>Happy New Year</span>
                            <p>Anim pariatur cliche reprehenderit</p>
                        </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--=== End Cube-Portfdlio ===-->
