
<!-- Begin Content -->
<div class="col-md-9">
    <form action="#" class="sky-form">
        <header>건의 사항</header>
        <fieldset>
            <section>
                <label class="select">
                    <select>
                        <option value="0">구매</option>
                        <option value="1">판매</option>
                        <option value="2">신고</option>
                    </select>
                    <i></i>
                </label>
            </section>
            <section>
                <label class="textarea">
                    <textarea rows="3" placeholder="문의 내용을 입력 하세요"></textarea>
                </label>
            </section>
            <button type="submit" class="btn-u btn-u-purple pull-right">등록 버튼</button>
        </fieldset>
        <!--<footer>(아이콘)내가 올린 질문 <br> (아이콘)답</footer>-->
        <!--<footer>(아이콘)내가 올린 질문 <br> (아이콘)답</footer>-->
    </form>
    <!-- End Basic Form -->
    <div class="margin-bottom-60"></div>


</div>
<!-- End Content -->