<!DOCTYPE html>
<html lang="en" ng-app = "item" ng-controller = "itemCtrl">

<head>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Panda - admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <div ng-include="'nav'"></div>
    <div class="row">
    </div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">물품 조회 및 수정</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body">
                    <div class="row">
                        <form role="form">
                            <div class = "modify">
                                <label><h3>수정</h3></label>
                                <br>
                                <img src="" alt="물품 이미지" style="float:left; margin-right:50px; weight:100%; height:100%;">
                                <br>
                                <br>
                                <input type="file" file-model = "myFile2" ng-model="new.picture">
                                <br>
                                <label>제목</label>
                                <input ng-model="new.title" class="form-control" placeholder="{{new.title}}" type="text">
                                <br>
                                <label>판매 양식</label>
                                <select ng-model="new.sell_type" class="form-control">
                                    <option value="판매">판매</option>
                                    <option value="대여">대여</option>
                                </select>
                                <!--<input ng-model="new.sell_type" class="form-control" placeholder="{{new.sell_type}}" type="text">-->
                                <br>
                                <label>가격</label>
                                <input ng-model="new.price" class="form-control" placeholder="{{new.price}}" type="text">
                                <br>
                                <label>상태</label>
                                <input ng-model="new.state" class="form-control" placeholder="{{new.state}}" type="text">
                                <br>
                                <label>비고</label>
                                <input ng-model="new.context" class="form-control" placeholder="{{new.context}}" type="text">
                                <br>
                                <label>결제 상태</label>
                                <select ng-model="new.payment_state" class="form-control">
                                    <option value="주문 접수">주문 접수</option>
                                    <option value="주문 취소">주문 취소</option>
                                    <option value="결제 완료">결제 완료</option>
                                    <option value="환불 신청">환불 신청</option>
                                    <option value="환불중">환불중</option>
                                    <option value="환불 완료">환불 완료</option>
                                    <option value="대여중">대여중</option>
                                    <option value="구매 완료">구매 완료</option>
                                    <option value="반납 완료">반납 완료</option>
                                </select>
                                <br>
                                <input style="float:right;" class = "btn btn-default" type="button" ng-click="send_item(new._id)" value = "확인">
                            </div>
                            <div ng-repeat = "item in items"  style="margin-top:50px;">
                                <hr>
                                <label><h3>물품</h3></label>
                                <div class="form-group">
                                    <label>물품 사진</label>
                                    <!--{{user}}-->
                                    <!--<img src="{{user.kakao.properties.profile_image}}" alt="프로필 이미지">-->
                                    <div style="width:100px; height:60px;">
                                        <img src="" alt="물품 이미지" style="float:left; margin-right:50px;">
                                    </div>
                                    <div>
                                        제목 : {{item.title}}
                                        <br>
                                        판매 양식 : {{item.sell_type}}
                                        <br>
                                        가격 : {{item.price}}
                                        <br>
                                        상태 : {{item.state}}
                                        <br>
                                        비고 : {{item.context}}
                                        <br>
                                        결제 상태 : {{item.payment_state}}
                                    </div>

                                    <br><label></label>


                                    <!--수정해야할 부분.-->
                                    <div class = "delete_confirm" style="float:right">
                                        <input class = "btn btn-default" type="button" ng-click="delete_item(item._id)" value = "삭제">
                                    </div>
                                    <div class = "modify_confirm" style="float:right; margin-right:5px;">
                                        <input class = "btn btn-default" type="button" ng-click="modify_item(item._id)" value = "수정">
                                    </div>
                                </div>
                                <!--<button type="reset" class="btn btn-default">취소</button>-->
                                <br>
                            </div>
                        </form>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

<!-- jQuery -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="bower_components/raphael/raphael-min.js"></script>
<script src="bower_components/morrisjs/morris.min.js"></script>
<script src="js/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="dist/js/sb-admin-2.js"></script>
<script src="controller_admin/item.js"></script>
</body>

</html>

