<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Product Details | Unify - Responsive Website Template</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/shop.style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="assets/css/headers/header-default.css">
    <link rel="stylesheet" href="assets/css/footers/footer-v4.css">
    <link rel="stylesheet" href="assets/css/footers/footer-v6.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <link rel="stylesheet" href="assets/plugins/master-slider/quick-start/masterslider/style/masterslider.css">
    <link rel='stylesheet' href="assets/plugins/master-slider/quick-start/masterslider/skins/default/style.css">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="assets/css/pages/profile.css">

    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
    <link rel="stylesheet" href="assets/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!-- Style Switcher -->
    <link rel="stylesheet" href="assets/css/plugins/style-switcher.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/purple.css" id="style_color">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">


</head>

<body ng-app><div class="wrapper">
    <i class="style-switcher-btn icon-bell"></i>
    <div class="style-switcher animated fadeInRight">
        <div class="style-swticher-header">
            <div class="style-switcher-heading">Key Word <br>Alarm System</div>
            <div class="theme-close"><i class="icon-close"></i></div>
        </div>
        <div>설명</div>

        <form action="#" id="sky-form4" class="sky-form" >
            <fieldset>
                <section>
                    <label class="input">
                        <!--click 시 실행되어야 할 것 추가되어야 함.-->
                        <i class="icon-append fa fa-plus" style = "padding-left: 0px;padding-right: 0px;" ng-click = "addWord()"></i>
                        <input type="text" name="word" placeholder="Word">
                        <!--<b class="tooltip tooltip-bottom-right">Needed to enter the website</b>-->
                    </label>
                </section>
                <labe>추가된 단어 1 <button>삭제</button></labe><br>
                <labe>추가된 단어 2</labe>
            </fieldset>
        </form>
    </div><!--/style-switcher-->
    <!--=== End Style Switcher ===-->

    <div ng-include="'nav'"></div>

    <!--=== Shop Product ===-->
    <div class="shop-product">
        <!-- Breadcrumbs v5 -->
        <div class="container">
            <ul class="breadcrumb-v5">
                <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                <li><a href="#">Products</a></li>
                <li class="active">New</li>
            </ul>
        </div>
        <!-- End Breadcrumbs v5 -->

        <div class="container">
            <div class="row">
                <div class="col-md-6 md-margin-bottom-50">
                    <div class="ms-showcase2-template">
                        <!-- Master Slider -->
                        <div class="master-slider ms-skin-default" id="masterslider">
                            <div class="ms-slide">
                                <img class="ms-brd" src="assets/img/blank.gif" data-src="assets/img/blog/28-thumb.jpg" alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" src="assets/img/blog/28-thumb.jpg" alt="thumb">
                            </div>
                            <div class="ms-slide">
                                <img src="assets/img/blank.gif" data-src="assets/img/blog/29.jpg" alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" src="assets/img/blog/29-thumb.jpg" alt="thumb">
                            </div>
                            <div class="ms-slide">
                                <img src="assets/img/blank.gif" data-src="assets/img/blog/30.jpg" alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" src="assets/img/blog/30-thumb.jpg" alt="thumb">
                            </div>
                            <div class="ms-slide">
                                <img src="assets/img/blank.gif" data-src="assets/img/blog/30.jpg" alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" src="assets/img/blog/30-thumb.jpg" alt="thumb">
                            </div>
                            <div class="ms-slide">
                                <img src="assets/img/blank.gif" data-src="assets/img/blog/30.jpg" alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" src="assets/img/blog/30-thumb.jpg" alt="thumb">
                            </div>
                        </div>
                        <!-- End Master Slider -->
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="shop-product-heading">
                        <h2>제목</h2>
                    </div><!--/end shop product social-->
                    <p>상품명</p>
                    <ul class="list-inline shop-product-prices margin-bottom-30">
                        <li class="shop">12,000원</li>
                    </ul><!--/end shop product prices-->

                    <h3 class="shop-product-title">판매 유형 - SELL</h3>
                    <h3 class="shop-product-title">물건 상태 - 미개봉</h3>


                    <div class="margin-bottom-40">
                        <button type="button" class="btn-u btn-u-sea-shop btn-u-lg">구매하기</button>
                    </div><!--/end product quantity-->
                    <h3>상세정보</h3>
                    <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h5>
                    <br>
                </div>
            </div><!--/end row-->
        </div>
<br><br>
    <!--=== End Shop Product ===-->
    <div class="container content profile">
    <div class="profile-body">
        <div class="panel panel-profile">
            <div class="panel-heading overflow-h">
                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-comments"></i>Users Comments</h2>
                <a href="#"><i class="fa fa-cog pull-right"></i></a>
            </div>
            <div class="panel-body margin-bottom-50">
                <div class="media media-v2">
                    <a class="pull-left" href="#">
                        <!--<img class="media-object rounded-x" src="assets/img/testimonials/img2.jpg" alt="">-->
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <strong><a href="#">Eva Nelson</a></strong> @EvaNelson
                            <small>About an hour ago</small>
                        </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada rhoncus tellus blandit facilisis. Morbi faucibus eros facilisis vulputate mollis. Mauris sodales ante lorem, sed fringilla orci rhoncus ac. Donec sit amet eros at libero egestas interdum non quis libero.</p>
                        <ul class="list-inline results-list pull-left">
                            <li><a href="#">25 Likes</a></li>
                            <li><a href="#">10 Share</a></li>
                        </ul>
                        <ul class="list-inline pull-right">
                            <li><a href="#"><i class="expand-list rounded-x fa fa-reply"></i></a></li>
                            <li><a href="#"><i class="expand-list rounded-x fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="expand-list rounded-x fa fa-retweet"></i></a></li>
                        </ul>
                    </div>
                </div><!--/end media media v2-->
                <br>
                <!--<button type="button" class="btn-u btn-u-default btn-block">Load More</button>-->
            </div>
        </div>
        <form action="#" class="sky-form">
            <fieldset>
                <section>
                    <label class="label">댓글 달기</label>
                    <label class="textarea">
                        <textarea rows="3"></textarea>
                    </label>
                </section>
             </fieldset>

            <footer>
                <button type="submit" class="btn-u btn-u-purple pull-right">Submit</button>
            </footer>
        </form>
    </div>
    </div>
    </div>
    <div ng-include="'footer'"></div>
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script src="assets/plugins/jquery/jquery.min.js"></script>
<script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="assets/plugins/back-to-top.js"></script>
<script src="assets/plugins/smoothScroll.js"></script>
<script src="assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<script src="assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Master Slider -->
<script src="assets/plugins/master-slider/quick-start/masterslider/masterslider.min.js"></script>
<script src="assets/plugins/master-slider/quick-start/masterslider/jquery.easing.min.js"></script>
<!-- JS Customization -->
<script src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script src="assets/js/shop.app.js"></script>
<script src="assets/js/plugins/owl-carousel.js"></script>
<script src="assets/js/plugins/master-slider.js"></script>
<script src="assets/js/forms/product-quantity.js"></script>
<script src="assets/js/plugins/style-switcher.js"></script>

<script type="text/javascript" src="assets/plugins/circles-master/circles.js"></script>
<script type="text/javascript" src="assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
<script>
    jQuery(document).ready(function() {
        App.init();
        App.initScrollBar();
        OwlCarousel.initOwlCarousel();
        StyleSwitcher.initStyleSwitcher();
        MasterSliderShowcase2.initMasterSliderShowcase2();
    });
</script>

<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>
