
<link rel="stylesheet" href="assets/plugins/brand-buttons/brand-buttons.css">
<link rel="stylesheet" href="assets/plugins/brand-buttons/brand-buttons-inversed.css">
<style>
    hr {
        height: 1px;
        color: #3d3d3d;
        background-color: #3d3d3d;
        border: none;
    }
    /*.nav>li>a:focus,.nav>li>a:hover{text-decoration:none;background-color:#000000;}*/
    .verticalLine {
        border-left: thin solid #3d3d3d;
        /*border:none;*/
    }
</style>
<!--=== Footer v6 ===-->
<div id="footer-v6" class="footer-v6" style="margin-top:100px;">
    <div class="footer">
        <div class="container">
            <div class="row">
                <ul class="nav navbar-nav cool">
                    <li><a href="#"> 판다 소개 &nbsp;&nbsp;&nbsp;&nbsp;<font color="#6e6e6e"> |</font></a></li>
                    <li><a href="#"> 공지 사항&nbsp;&nbsp;&nbsp;&nbsp; <font color="#6e6e6e">|</font></a></li>
                    <li><a href="#"> 이용 약관 &nbsp;&nbsp;&nbsp;&nbsp;<font color="#6e6e6e">|</font></a></li>
                    <li><a href="#"> 개인정보취급방안 &nbsp;&nbsp;&nbsp;&nbsp;<font color="#6e6e6e">|</font></a></li>
                    <li><a href="#" > 1:1 문의&nbsp;&nbsp;&nbsp;&nbsp; <font color="#6e6e6e"></font></a></li>

                </ul>
            </div>
            <hr class="hr-xs" color="">
            <div class="row">
                <div class="col-md-8 sm-margin-bottom-40">
                    <p><font color="#b2b2b2" > 대학생을 위한 편리한 거래문화를 창조하는 창업학회 <a href="https://www.facebook.com/handongincube/?ref=ts&fref=ts"><font color="b2b2b2"><u> 인큐브</u></font></a> 창업팀 판다입니다.</font></p>
                      <font color="white"> (주)판다</font>
                    <font color="#b2b2b2"> <br>    37554 경북 포항시 북구 흥해읍 한동로 558 한동대학교 느헤미야홀 201A /054-123-4567 /<br>
                        사업자 등록번호 : 123-45-678910 /통신판매번호 : 2016-경기포항-12345 대표자 : 홍길동 /<br>
                        개인정보취급책임자:  엄하영 사업자정보확인</p></font>
                </div>
                <div class="col-md-4 sm-margin-bottom-40 verticalLine">
                    <font color="#ffffff"> 고객센터</font><br>
                    <p><font color="#ffffff" size="4"> 054-123-4567</font></p>
                    <font color="#b2b2b2">
                    평일 9:00~18:00, 토요일 10:00~17:00 /<br> 점심시간 12:00~13:00
                    일요일/공휴일 휴무</font>
                    <font color="#cfcfcf" size="1"><br><u>자주 묻는 질문</u> &nbsp;&nbsp;<a href="#">&nbsp;&nbsp; <u>handongpanda@naver.com</u></a>
                            <a href="#"> &nbsp;&nbsp;<u>페이스북</u></a>
                    </font>

                </div>
                <!-- About Us -->
                <!--<div class="col-md-3 sm-margin-bottom-40">-->
                    <!--<div class="heading-footer"><h2>About Us</h2></div>-->
                    <!--<p>더 나은 세상을 만들어 나가는 저희는 창업학회 인큐브 창업팀 판다입니다.</p>-->
                    <!--<p><a href="/introduce_us">팀소개</a></p>-->
                    <!--<p><a href="https://www.facebook.com/handongincube/?ref=ts&fref=ts">인큐브</a></p>-->
                <!--</div>-->
                <!--&lt;!&ndash; End About Us &ndash;&gt;-->


                <!--&lt;!&ndash; Contacts &ndash;&gt;-->
                <!--<div class="col-md-3">-->
                    <!--<div class="heading-footer"><h2>Contact Us</h2></div>-->
                    <!--<ul class="list-unstyled contacts">-->
                        <!--<li>-->
                            <!--<i class="radius-3x fa fa-map-marker"></i>-->
                            <!--경북 포항시 한동로 558 한동대학교 느혜미야홀 201A 인큐브실-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<i class="radius-3x fa fa-phone"></i>-->
                            <!--<p><a href="tel:010-7325-5067">(010) 7325-5067</a></p>-->
                            <!--<p><a href="tel:010-9899-5785">(010) 9899-5785</a></p>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<i class="radius-3x fa fa-globe"></i>-->
                            <!--<a href="mailto:incubeconsulting@gmail.com">incubeconsulting@gmail.com</a><br>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="col-md-3 sm-margin-bottom-40">-->
                    <!--<ul class="list-unstyled footer-link-list">-->
                        <!--<li><a href="#">건의하기</a></li>-->
                        <!--<li><a href="#">신고하기</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!-- End Contacts -->
            </div>
        </div><!--/container -->
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8 sm-margon-bottom-10">
                    <ul class="list-inline terms-menu">
                        <li class="silver">Copyright © 2016 shindaeho kimmiyoung</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Footer v6 ===-->
