<!--=== Footer v6 ===-->
<div id="footer-v6" class="footer-v6" style="margin-top:100px;">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About Us -->
                <div class="col-md-3 sm-margin-bottom-40">
                    <div class="heading-footer"><h2>About Us</h2></div>
                    <p>더 나은 세상을 만들어 나가는 저희는 창업학회 인큐브 창업팀 판다입니다.</p>
                    <p><a href="/introduce_us">팀소개</a></p>
                    <p><a href="https://www.facebook.com/handongincube/?ref=ts&fref=ts">인큐브</a></p>
                </div>
                <!-- End About Us -->


                <!-- Contacts -->
                <div class="col-md-3">
                    <div class="heading-footer"><h2>Contact Us</h2></div>
                    <ul class="list-unstyled contacts">
                        <li>
                            <i class="radius-3x fa fa-map-marker"></i>
                            경북 포항시 한동로 558 한동대학교 느혜미야홀 201A 인큐브실
                        </li>
                        <li>
                            <i class="radius-3x fa fa-phone"></i>
                            <p><a href="tel:010-7325-5067">(010) 7325-5067</a></p>
                            <p><a href="tel:010-9899-5785">(010) 9899-5785</a></p>
                        </li>
                        <li>
                            <i class="radius-3x fa fa-globe"></i>
                            <a href="mailto:incubeconsulting@gmail.com">incubeconsulting@gmail.com</a><br>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 sm-margin-bottom-40">
                    <ul class="list-unstyled footer-link-list">
                        <li><a href="#">건의하기</a></li>
                        <li><a href="#">신고하기</a></li>
                    </ul>
                </div>
                <!-- End Contacts -->
            </div>
        </div><!--/container -->
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8 sm-margon-bottom-10">
                    <ul class="list-inline terms-menu">
                        <li class="silver">Copyright © 2016 shin</li>
                        <li><a href="#">정책</a></li>
                        <li><a href="#">도움 주신 분</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Footer v6 ===-->
