
<!--=== Header ===-->
<div class="header">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav pull-left">
                <li>
                    <a class href="/" style="font-size:30px; width:200px">
                        <img src="assets/static_img/logo.png" style="max-width:120px;">
                    </a>
                </li>
            </ul>
            <br>
            <!--<div class="col-md-9">-->
                <ul class="nav navbar-nav pull-right ">
                    <li class="dropdown ">
                    <li><a href="help">고객 센터</a> </li>
                    <li class="topbar-devider"></li>
                    <li>
                        <% if (!isAu) {%>
                        <a rel="rotate" class="" href="/auth/kakao">
                            Login</a>
                        <%}else {%>
                        <a rel="rotate" href="/mypage">
                            <%= user.name.username%>님
                        </a>

                        <%}%>
                    </li>
                    <li class="topbar-devider"></li>
                    <% if (isAu) {%>
                    <li>
                        <a rel="rotate" href="/logout">logout</a>
                    </li>
                    <li class="topbar-devider"></li>
                    <li>
                        <a href="#">
                            장바구니
                            <!--<span aria-hidden="true" class="icon-basket"></span>-->
                        </a>
                    </li>
                    <% } %>
                </ul>
            <!--</div>-->
            <br>
            <br>
            <br>

            <ul class="nav navbar-nav pull-left ">
                <li class="dropdown mega-menu-fullwidth">
                    <button type="button" class="btn-u btn-u-purple btn-u-split-blue dropdown-toggle" data-toggle="dropdown">
                        카테고리 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-angle-down"></i>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="mega-menu-content disable-icons">
                                <div class="container">
                                    <div class="row equal-height">
                                        <div class="col-md-3 equal-height-in" ng-repeat = "category in categories">
                                            <ul class="list-unstyled equal-height-list">
                                                <li><a href="#"+{{category.group}}><h3>{{category.group}}</h3></a></li>
                                                <!-- Typography -->
                                                <!--<li><a href="/item_list"><i class="fa fa-sort-alpha-asc"></i> 경영경제</a></li>-->
                                                <!--<li><a href="/item_list"><i class="fa fa-magic"></i>전산전자</a></li>-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                </ul>
            <div class="col-md-6 pull-right">
                <ul class="nav navbar-nav  ">
                <li>

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search words with regular expressions ...">
                        <span class="input-group-btn">
	                  <button class="btn-u btn-u-purple" type="button"><i class="fa fa-search"></i></button>
	              </span>
                    </div>
                </li>
            </ul>
            </div>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->
