
<!DOCTYPE html>
<html lang="en" ng-app = "help" ng-controller = "FAQCtrl">

<head>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Panda - admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <div ng-include="'nav'"></div>
    <div class="row">
    </div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">FAQ 수정</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form">
                                <div class = "modify">
                                    <label>Modify</label>
                                    <input ng-model="new.question" class="form-control" placeholder="{{new.question}}" type="text">
                                    <br>
                                    <input ng-model="new.answer" class="form-control" placeholder="{{new.answer}}" type="text">
                                    <br>
                                    <input style="float:right" class = "btn btn-default" type="button" ng-click="send_FAQ(new._id)" value = "확인">
                                </div>
                                <br>
                                <br>
                                <div ng-repeat = "FAQ in FAQS" >

                                    <!--<button class="btn btn-default" ng-click="send_FAQ(FAQ._id)" ng-model = "modify">수정</button>-->

                                    <div class="form-group">
                                        <label>Question </label>
                                        <br><div style="margin-left:20px">{{FAQ.question}}</div>
                                        <br><label>Answer</label>
                                        <br><div style="margin-left:20px">{{FAQ.answer}}</div>
                                        <!--<br><div style="margin-left:20px">{{FAQ._id}}</div>-->
                                        <!--<button class="btn btn-default"  ><a href="/admin/modify_FAQ?id={{FAQ._id}}">수정</a></button>-->
                                        <br>
                                        <!--Click me: <input type="checkbox" ng-model="checked" aria-label="Toggle ngHide"><br/>-->
                                        <!--<div>-->
                                            <!--Show:-->
                                            <!--<div class="check-element animate-show" ng-show="checked">-->
                                                <!--<span class="glyphicon glyphicon-thumbs-up"></span> I show up when your checkbox is checked.-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div>-->
                                            <!--Hide:-->
                                            <!--<div class="check-element animate-show" ng-hide="checked">-->
                                                <!--<span class="glyphicon glyphicon-thumbs-down"></span> I hide when your checkbox is checked.-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<input type="checkbox" ng-model="modify">-->
                                        <div class = "modify_confirm" style="float:right">
                                            <input class = "btn btn-default" type="button" ng-model="modify" ng-click="modify_FAQ(FAQ._id)" value = "수정">
                                            <input class = "btn btn-default" type="button" ng-model="modify" ng-click="delete_FAQ(FAQ._id)" value = "삭제">
                                        </div>


                                    </div>

                                    <!--<button type="reset" class="btn btn-default">취소</button>-->
                                    <br>
                                    <br>
                                </div>
                                <div class = "add">
                                    <label>Question </label>
                                    <input ng-model="addFAQ.question" class="form-control" type="text">
                                    <br><label>Answer</label>
                                    <input ng-model="addFAQ.answer" class="form-control" type="text">
                                    <br>
                                    <input class = "btn btn-default" type="button" ng-click="add_FAQ()" value = "추가" style = "float : right">
                                </div>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

<!-- jQuery -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="bower_components/raphael/raphael-min.js"></script>
<script src="bower_components/morrisjs/morris.min.js"></script>
<script src="js/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="dist/js/sb-admin-2.js"></script>
<script src="../controller/help_controller.js"></script>
</body>

</html>
