<!DOCTYPE html>
<html ng-app="item" ng-controller="itemCtrl">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

</head>
<body>
<div>

    {{1+1}}
    <ul><li ng-repeat="x in items_json">{{x._id}}</li></ul>
    <p>
        <article>
            <tr>
                <th>id</th>
                <td ng-repeat="x in items_json">{{x._id}}</td>
            </tr>
            <tr>
                <th>title</th>
                <td ng-repeat="x in items_json">{{x.title}}</td>
            </tr>
            <tr>
                <th>price</th>
                <td ng-repeat="x in items_json">{{x.price}}</td>
            </tr>
            <tr>
                <th>sell_type</th>
                <td ng-repeat="x in items_json">{{x.sell_type}}</td>
            </tr>
            <tr>
                <th>state</th>
                <td ng-repeat="x in items_json">{{x.state}}</td>
            </tr>
            <tr>
                <th>context</th>
                <td ng-repeat="x in items_json">{{x.context}}</td>
            </tr>
            <tr>
                <th>img_id</th>
                <td ng-repeat="x in items_json">{{x.id}}</td>
            </tr>

        </article>
    </p>
</div>
</body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="controller_admin/item.js"></script>
</html>
